<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<typeAliases>
   <typeAlias type="bow.bbs.BbsDTO" alias="bbsDTO"/>
   <typeAlias type="bow.bbs.CommentDTO" alias="commentDTO"/>
   <typeAlias type="bow.bbs.BbsDTOnorm" alias="bbsDTOnorm"/>
</typeAliases>

<mappers>
  <mapper resource="sql/bbsSQL.xml"/>
</mappers>

</configuration>