@CHARSET "UTF-8";


   .overflow{
			 white-space: nowrap;
			 text-overflow: ellipsis;
			 overflow: hidden;
		     width:80%; 
		   }  
		   
		   
   .overflow2{
    display: inline-block;
    width: 90%;
    text-overflow: ellipsis;
	overflow: hidden;
   
   }		   
		  
th{
    text-align: center;
 
 }	
 
 select {
    border:1px solid #ccc;
    vertical-align:top;
    height:20px;
}
input, select{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
 
 .pagination{

 align:center;

clear:left;

clear:right;

clear:both;
            }
            
   .subject_after:after{
   content:" comment : " attr(id) " ";
   background : #03658c;
	color: #FFF;
	font-size: 12px;
	padding: 3px 5px;
	font-weight: 700;
	margin-left: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
   }      
            